<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estilo1.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/imagenes.js')}}"></script>
    <title>Perfil Usuario</title>
</head>

<body class="pagina2">
    <header>
        <img src="{{url_for('static', filename='images/logo.jpg')}}" class="logo">
        <h1>:::Gestión de imágenes::: <br> Social Network di immagini</h1>
    </header>
    <form action="" class="formulario2">
        <table width=100%>
            <tr>
                <th>
                    <div class="entradaTexto">
                        <img src="{{url_for('static', filename='images/cargar.jpeg')}}" class="icono">
                        <input type="submit" class="boton" value="Cargar Imagen">
                    </div>
                </th>
                <th>
                    <div class="entradaTexto ">
                        <img src="{{url_for('static', filename='images/buscar.jpeg')}}" class="icono">
                        <a href="/gestionB/">
                            <input type="button" class="boton" value="Buscar Imagen">
                        </a>
                    </div>
                </th>
            </tr>
        </table>
        <div id="divImagen" align="center"></div>
        <table align="center">
            <tr>
                <th>Nombre: </th>
                <th><input type="text"></th>
            </tr>
            <tr>
                <th>Descripcion: </th>
                <th><input type="text"></th>
            </tr>
            <tr>
                <th>Cargar: </th>
                <th><input type="file" id="cargarArchivo" onchange="cargarImagen();"></th>
            </tr>
        </table>

    </form>
    <footer>
        <p>¿Cerrar sesión? <a class="link " href="/inicio/">Salir</a></p>
    </footer>
</body>

</html>