<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/estilo1.css">
    <script type="text/javascript" src="../static/js/imagenes.js"></script>
    <title>Perfil Usuario</title>
</head>

<body class="pagina2">
    <header>
        <img src="../static/images/logo.jpg" class="logo">
        <h1>:::Gestión de imágenes::: <br> Social Network di immagini</h1>
    </header>
    <form action="" class="formulario2">
        <table width=100%>
            <tr>
                <th>
                    <div class="entradaTexto">
                        <img src="../static/images/cargar.jpeg" class="icono">
                        <a href="gestionA.html">
                            <input type="button" class="boton" value="Cargar Imagen">
                        </a>
                    </div>
                </th>
                <th>
                    <div class="entradaTexto ">
                        <img src="../static/images/buscar.jpeg" class="icono">
                        <input type="submit" class="boton" value="Buscar Imagen">
                    </div>
                </th>
            </tr>
        </table>
        <div id=divGaleria align="center">
            <script>
                galeria();
            </script>
        </div>
    </form>
    <footer>
        <p>¿Cerrar sesión? <a class="link " href="inicio.html ">Salir</a></p>
    </footer>
</body>

</html>